@font-face {
    font-family:Horizon;
    src: url("./font/horizon.otf");
}

@font-face {
    font-family:coolvetica;
    src: url("./font/coolveticarg.otf");
}

@font-face {
    font-family:kenyan;
    src: url("./font/kenyancoffee.otf");
}

@font-face {
    font-family:futura;
    src: url("Futura\ Bold\ font.ttf");
}

@font-face {
    font-family:montserrat;
    src: url("Montserrat-Bold.ttf");
}




body {
	background-color: rgb(26, 26, 26);
	font-family: 'Bebas Kai', sans-serif;
    color: white;
}

.imgaccueil {
    height: 280px;
}

.imgaccueiltshirt {
    height: 300px;
}

.imgaccueil34 {
    height: 250px;
}

.imgaccueilh {
    height: 210px;
}

div {
    display: inline-block;
    padding: 30px;
}

nav
{
    background-color: black;
    width: 101%;
    color: white;
	margin-left: -10px;
	margin-top: -10px;
	padding-right: 10px;
}


nav li.klemphotos {
    list-style-type: none;
    text-align: center;
    font-size: 210%;
    margin-right: 415px;
    margin-top: -11px;
    margin-bottom: -25px;
}

nav ul
{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

nav li.menu
{
    list-style-type: none;
    float: left;
    font-size: 100%;
}

nav a
{
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: white;
}

.menu :hover
{
    background-color: white;
    transition: ease;
    transition-duration: 0.4s;
    color: black;
}

.presentationposter :hover {
    cursor: pointer;  
}

a {
    text-decoration: none;
    color:white;
}

.imgaccueil:hover {
    height: 282px;
    transition: ease;
    transition-duration : 400ms;
}

.imgaccueil34:hover {
    height: 270px;
    transition: ease;
    transition-duration : 400ms;
}

.imgaccueilh:hover {
    transition: ease;
    transition-duration : 400ms;
}

.imgdetail {
    height: 550px;
}

.imgdetail34 {
    height: 500px;
    margin-top: 58px;
}

.imgdetailtshirt {
    height: 350px;
    margin-top: 10px;
    margin-left: 30px;
}

.imgdetailh {
    height: 350px;
    margin-top: 58px;
    display: block;
    margin-left: 300px;
}

.detailposter {
    text-align: left;
    float: right;
    flex: auto;
    position: absolute;
}

.detailposterall {
    padding-top: 15px;
}

.detailtshirtall {
    padding-top: 15px;
}

.detailtshirt {
    display: inline-block;
}

table {
    border-width:1px; 
    border-style:solid; 
    border-color:white;
    width:100%;
    border-collapse: collapse;
}

td {
    border-width:1px; 
    border-style:solid; 
    border-color:white;
    padding : 3px;
    padding-left: 20px;
    padding-right: 20px;
}

.papier {
    font-size: 0.9em;
}

th {
    border-width:1px; 
    border-style:solid; 
    border-color:white
    ;
    padding : 3px;
    padding-left: 20px;
    padding-right: 20px;
}

.contacttel {
    display: none;
}

.form {
    font-family: 'Bebas Kai', sans-serif;
    background-color: black;
    border-color: white;
    border-width: 1px;
    border-radius: 3px;
    padding: 5px;
}

.shootingtel {
    display: none;
}

.tshirttel {
    display: none;
}

.logopng {
    height: 100px;
    display: none;
}

select {
    font-size: 1em;
    border-radius: 10px;
    border-radius: 10px;
    padding: 5px;
    font-family: 'Bebas Kai', sans-serif;
    border-color: white;
    color: white;
    background-color: black;
}





@media screen and (max-device-width: 480px) {
    
    
    .menu {
        display: none;
    }
    
    nav li.klemphotos {
        font-size: 7em;
        margin-right: 0px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 20px;
        display: none;
    }

    nav li.logopng {
        display: block;
        padding-top: 10px;
        padding-bottom: 60px;
        margin-left: 0px;
        text-align: center;
    }
    
    .imglogo {
    height: 280px;
    margin-top: -90px;}

    nav {
        position: fixed;
    }

    .presentationposter {
        margin-top: 120px;
    }

    .contacttel {
        display: inline-flex;
        font-size: 5em;
        float: right;
        margin-top: -150px;
    }

    .imgaccueil {
        height: 730px;
    }

    .imgaccueiltshirt {
        height: 700px;
        margin-left: 100px;
    }

    .imgaccueilh {
        height: 480px;
    }

    .presentationposter {
        font-size: 2.5em;
    }

    .presentationtshirt {
        font-size: 2.5em;
        margin-top: 120px;
    }

    .contacter {
        font-size: 2em;
        display: inline-block;
        margin-top: 120px;
    }    

    .imgdetail {
        height: 1200px;
        display: block;
        margin-left: 50px;
    }
    
    .detailposter {
        text-align: left;
        float: right;
        flex: auto;
        position: absolute;
        font-size: 1.8em;
    }
    
    .detailtshirt {
        text-align: left;
        float: right;
        flex: auto;
        position: absolute;
        font-size: 1.7em;
        
        
        font-family: 'montserrat', sans-serif;
    }

    .detailposterall {
        margin-top: 200px;
        
        font-family: 'montserrat', sans-serif;
    }
    
    table {
        border-width:2px; 
        border-style:solid; 
        border-color:white;
        width:100%;
        border-collapse: collapse;
    }
    
    td {
        border-width:2px; 
        border-style:solid; 
        border-color:white;
        padding : 3px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .papier {
        font-size: 0.9em;
    }
    
    th {
        border-width:1px; 
        border-style:solid; 
        border-color:white;
        padding : 3px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .form {
        font-size: 1em;
        border-radius: 10px;
        border-radius: 10px;
        padding: 20px;
    }

    select {
        font-size: 1.2em;
        border-radius: 10px;
        border-radius: 10px;
        padding: 20px;
        font-family: 'futura', sans-serif;
        border-color: white;
        color: white;
        background-color: black;
    }

    .shootingtel {
        display: none;
        font-size: 5em;
        float: left;
        margin-top: -150px;
    }

    .tshirttel {
        display: inline-flex;
        font-size: 5em;
        float: left;
        margin-top: -150px;
    }

    .shooting {
        font-size: 3em;
        display: inline-block;
        margin-top: 120px;
    }  

    .imgaccueil34 {
        height: 590px;
    }

    .imgdetail34 {
        height: 1200px;
        display: block;
        margin-left: 1px;
    }

    .imgdetailh {
        height: 600px;
        display: block;
        margin-left: 1px;
    }
    
    .imgdetailtshirt {
        height: 800px;
        display: block;
        margin-left: 50px;
       
    }

    .detailtshirtall{
        padding-top: 150px;
        font-size: 1em;
    }
}
